.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(bottom , rgb(250, 219, 3) 1% , rgb(255, 224, 9) 96%);
background: -o-linear-gradient(bottom , rgb(250, 219, 3) 1% , rgb(255, 224, 9) 96%);
background: -ms-linear-gradient(bottom , rgb(250, 219, 3) 1% , rgb(255, 224, 9) 96%);
background: -moz-linear-gradient(bottom , rgb(250, 219, 3) 1% , rgb(255, 224, 9) 96%);
background: -webkit-linear-gradient(bottom , rgb(250, 219, 3) 1% , rgb(255, 224, 9) 96%);






}